<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_time.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event_time.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event_time.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event_time.end_time %>
</p>

<%= link_to 'Edit', edit_event_time_path(@event_time) %> |
<%= link_to 'Back', event_times_path %>
