<%= simple_nested_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event_type %>
    <% if params[:intake] %>
      <%= f.input :intakes, input_html: {value: params[:intake]} %>
    <% else %>
      <%= f.association :intakes, as: :check_boxes %>
    <% end %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.fields_for :event_times do |event_time_form| %>
      <%= event_time_form.date_field :date %>
      <%= event_time_form.time_field :start_time %>
      <%= event_time_form.time_field :end_time %>
      <%= event_time_form.link_to_remove "Remove this event time" %>
    <% end %>
    <p><%= f.link_to_add "Add an event time", :event_times %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
