<%= simple_form_for(@intake) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :term_one_start %>
    <%= f.input :term_one_end %>
    <%= f.input :term_two_start %>
    <%= f.input :term_two_end %>
    <%= f.input :term_three_start %>
    <%= f.input :term_three_end %>
    <%= f.input :term_four_start %>
    <%= f.input :term_four_end %>
    <%= f.input :color %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
