<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @intake.name %>
</p>

<p>
  <strong>Term one start:</strong>
  <%= @intake.term_one_start %>
</p>

<p>
  <strong>Term one end:</strong>
  <%= @intake.term_one_end %>
</p>

<p>
  <strong>Term two start:</strong>
  <%= @intake.term_two_start %>
</p>

<p>
  <strong>Term two end:</strong>
  <%= @intake.term_two_end %>
</p>

<p>
  <strong>Term three start:</strong>
  <%= @intake.term_three_start %>
</p>

<p>
  <strong>Term three end:</strong>
  <%= @intake.term_three_end %>
</p>

<p>
  <strong>Term four start:</strong>
  <%= @intake.term_four_start %>
</p>

<p>
  <strong>Term four end:</strong>
  <%= @intake.term_four_end %>
</p>

<p>
  <strong>Color:</strong>
  <%= @intake.color %>
</p>

<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>
